/* master styles*/
body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

/*use grid to make template columns of 1 fractional unit*/
.container {
    display: grid;
    grid-template-columns: 1fr;
}

/*navbar styles*/
/*use flex box to space left and right side of navbar*/
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    padding-bottom: 20px;
}

.top-left {
    display: flex;
}

/*go into top-left class and apply this to all divs inside*/
.nav-wrapper > .top-left > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

/*similar for top-right*/
.nav-wrapper > .top-right > div {
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.navbar-link {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

/*configure the <a> links*/
.navbar-link a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

/*if user hovers over this class*/
.navbar-link:hover {
    border-bottom: 1px solid black;
}

.navbar-link a:hover {
    color: black;
}
/*make border and link solid black if that link is active*/
.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a{
    color: black !important;
}

/*cards styles*/
/*divide cards into 3 columns*/
.cards-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*allow text and images to be on top of each other*/
.cards-item-wrapper {
    position: relative;
    margin: 14px;    
}

/*set background image size*/
.cards-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
}

.cards-item-wrapper:hover > .cards-img-background {
    width: 100%;
    height: 350px;
    position: absolute;
    background-color: #000000;
    opacity :0.8;
}

.img-text-wrapper {
    position: absolute;
    left: 50%; 
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    transform: translateX(-50%);
    width: 80%;
  }

/*set general style for table in figure*/
.card-review-table table, th, tr {
    border: 0px solid white;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    opacity: 0;
    padding: 4px;
}
.card-review-table table {
 width: 100%;
 table-layout: fixed;
}
.card-review-table th {
text-align: left;
  }
.cards-item-wrapper:hover .card-review-table table, th, tr {
  opacity: 1;
}
.modal-table table, th, tr {
  border: 0px solid white;
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 20px;
}
.modal-table {
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: left;
}
.modal-table table {
width: 100%;
}

/*set table header text color and background color*/
.cards-review-wrapper th {
    color: white;
}
#progress-bar{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: #777;
  color: rgb(43, 222, 115);
  border-radius: 20px;
}
#progress-bar::-webkit-progress-bar {
  border-radius: 20px;
  background-color: #777;
}
#progress-bar::-webkit-progress-value {
  border-radius: 20px;
  background-color: rgb(43, 222, 115);
}     
#progress-bar::-moz-progress-bar {
  border-radius: 20px; 
  background-color: rgb(43, 222, 115);
}
/*text is only visible when you hover over image*/
.img-text-wrapper .subtitle {
    font-weight: 600;
    transition: 1s;
    color: black;
}
/*when hovering over pic the subtitle turns green*/
.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: white;
}

/*text is only visible when you hover over image*/
.img-text-wrapper .table-title {
    font-weight: 600;
    color: white;
}
.ranking-number {
    top: 0;
    left: 0;
    text-align: left;
    color: #fff;
    font-weight: 800;
    font-size: 1.25em;
    position: absolute;
    z-index: 1;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}
.total-score {
    top: 0;
    right: 0;
    text-align: right;
    color: #fff;
    font-weight: 800;
    font-size: 1.25em;
    position: absolute;
    z-index: 1;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}
/* Modal box BEGIN */
*, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: auto;
  max-width: 80%;
  text-align: center;

}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
/* Modal box END */
.page-title {
  text-align: center;
}
h1{
margin: 0px;
}
.row {
  width: 92.5%;
}
.data-table {
  text-align: left;
  width: 100%;
  margin-left: 5%;
}
.data-table td {
  border: 1px solid grey;
}
.data-table th {
  border: 1px solid grey;
}
.location_data {
  text-align: left;
  width: 100%;
  margin-left: 5%;
  display: inline-flex;
}
.openingstijden{
  width: 50%;
}
.location_description{
  margin-right: 10%;
}
.close-button {
    top: 0;
    right: 0;
    text-align: right;
    font-weight: 800;
    font-size: 1.25em;
    position: absolute;
    z-index: 1;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.75em;
    color: black;
    }
.modal-title{
  font-weight: bold;
}

button {
  color: #FFF;
  background-color: #b0852a;
  border: 1px solid #b0852a;
  border-radius: 6px;
}
