<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Over Werkplekwijzer.nl</title>
    <meta name="description" content="Wij geloven dat het werken op afstand blijft, zeker na de coronacrisis. Veel professionals kiezen voor werken op afstand omdat het zorgt voor meer flexibiliteit, productiviteit en werkplezier.">
    <meta name="keywords" content="werkplek, werkplekwijzer, flexwerken, werkplekken, rotterdam, amsterdam, den haag, delft">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" alt="cofee icon"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }} ">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-199199636-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-199199636-1');
    </script>
</head>
<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="top-left">
                <div class="logo">
                        <a href="{{ url_for('home') }}">
                        <img src="{{ url_for('static', filename='img/werkplekwijzermini.svg') }}" alt="website logo"/>
                    </a>
                    </div>
                <div class="navbar-link">
                    <a href="{{ url_for('home') }}">Home</a>
                </div>
                <div class="navbar-link active-nav-link">
                    <a href="{{ url_for('about') }}">About</a>
                </div>
            </div>
        </div>

        <div class="content-wrapper-about">
            <img src="{{ url_for('static', filename='img/skyline_rotterdam.jpg') }}" width="100%" height="250" />
            <h1>Onze missie: Werkplekwijzer wil dat studenten en professionals het beste kunnen halen uit het werken op afstand.</h1>
            <p>Een goede werkplek vinden buiten kantoor kan een flinke uitdaging zijn. Je loopt tegen problemen aan zoals langzaam internet, oncomfortabele zitplekken of slechte koffie. Wij maken scoreboards en delen ervaringen over werkplekken in jouw omgeving. Hiermee kan jij de beste keuze maken voor een werkplek buiten kantoor. </p>
            <p>Wij geloven dat het werken op afstand blijft, zeker na de coronacrisis. Veel professionals kiezen voor werken op afstand omdat het zorgt voor meer flexibiliteit, productiviteit en werkplezier. Werkplekwijzer ondersteunt professionals bij deze ontwikkeling.</p>
            <p>Heb jij een fijne werkplek of ben je eigenaar van een werkplek en staat deze nog niet op onze site? Laat het ons weten via werkplekwijzer@gmail.com</p>
        </div>
    </div>
</body>
</html>