<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    {% block metadata %}{% endblock %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }} ">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" alt="cofee icon"/>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-199199636-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-199199636-1');
    </script>
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->
</head>
<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="top-left">
                                    <div class="logo">
                        <a href="{{ url_for('home') }}">
                        <img src="{{ url_for('static', filename='img/werkplekwijzermini.svg') }}" alt="website logo"/>
                    </a>
                    </div>
                <div class="navbar-link active-nav-link">
                    <a href="{{ url_for('home') }}">Home</a>
                </div>
                <div class="navbar-link">
                    <a href="{{ url_for('den_haag_filter') }}">Den Haag</a>
                </div>
                <div class="navbar-link">
                    <a href="{{ url_for('rotterdam_filter') }}">Rotterdam</a>
                </div>
                <div class="navbar-link">
                    <a href="{{ url_for('plek_toevoegen') }}">Plek toevoegen</a>
                </div>
                <div class="navbar-link">
                    <a href="{{ url_for('about') }}">Over Werkplekwijzer</a>
                </div>
            </div>
            <div class="top-right">
                <div class="navbar-brand">
                </div>
            </div>
        </div>
        <div class="content-wrapper">
             <div class="dropdown">
                  <button onclick="myFunction()" class="dropbtn">Kies een locatie</button>
                      <div id="myDropdown" class="dropdown-content">
                        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                        <a href="{{ url_for('home') }}">Alle locaties</a>
                        <a href="{{ url_for('den_haag_filter') }}">Den Haag</a>
                        <a href="{{ url_for('delft_filter') }}">Delft</a>
                        <a href="{{ url_for('rotterdam_filter') }}">Rotterdam</a>
                      </div>
            </div>
            <div class="cards-items-wrapper">
                        {% block contents %}{% endblock %}
<!--                cards-items-wrapper is closed in home.html -->
            </div>
                    <div id="overlay"></div>
        </div>
    </div>

</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>