{% extends 'home_base.html' %}

{% block contents %}
{% for location in study_locations %}
<div class="cards-item-wrapper">
<!--<div class="cards-img-background" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/3d/TU-Delft-Bibl-1.jpg')"></div>-->
    <div class="card-review-wrapper"data-modal-target="#modal_{{loop.index}}">
    <div class="cards-img-background" style="background-image: url('{{ data[loop.index-1][7] }}');"></div>
    <div class="ranking-number">
            <u>{{ loop.index }}</u>
        </div>
    <div class="img-text-wrapper">
    <div class="cards-review-wrapper">
    <!--                            <img src="https://images.unsplash.com/photo-1459679749680-18eb1eb37418?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8YW1zdGVyZGFtfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">-->
        <div class="table-title">
            {{ location }}
        </div>
          <div class="cart-review-table">
        <table>
          <thead>
            <tr>
                <th>&#11088; {{column_names[2]}}</th>
                <td><progress id="progress-bar"  value="{{ data[loop.index-1][14]}}" max="100"></progress></td>
            </tr>
            <tr>
                <th>&#128182; {{column_names[3]}}</th>
                <td><progress id="progress-bar"  value="{{ data[loop.index-1][15]}}" max="100"></progress></td>
            </tr>
            <tr>
                <th>&#128338; {{column_names[4]}}</th>
                <td><progress id="progress-bar"  value="{{ data[loop.index-1][16]}}" max="100"></progress></td>
            </tr>
            <tr>
                <th>&#129302; {{column_names[5]}}</th>
                <td><progress id="progress-bar"  value="{{ data[loop.index-1][17]}}" max="100"></progress></td>
            </tr>
            <tr>
                <th>&#128225; &nbsp;{{column_names[6]}}</th>
                <td><progress id="progress-bar"  value="{{ data[loop.index-1][18]}}" max="100"></progress></td>
            </tr>
          </thead>
    </table>
    <button data-modal-target="#modal_{{loop.index}}">Lees meer</button>
</div>
    </div>
</div>
</div>
    <!--        <div class="cards-review-button">-->
<!--        <button onclick="toggleCard()" id="cardButton">Show more</button>-->
<!--        </div>-->

      <div class="modal" id="modal_{{loop.index}}">
        <div class="modal-header">
          <div class="title">{{ location }}</div>
          <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="modal-body">
            <div class="modal-table">
            <table>
          <thead>
            <tr>
                <th>{{column_names[2]}}</th>
                <td><progress id="progress-bar"  value="{{ data[loop.index-1][14]}}" max="100"></progress></td>
                <th>{{column_names[3]}}</th>
                <td><progress id="progress-bar"  value="{{ data[loop.index-1][15]}}" max="100"></progress></td></tr>
                <tr><th>{{column_names[4]}}</th>
                <td><progress id="progress-bar"  value="{{ data[loop.index-1][16]}}" max="100"></progress></td>
                <th>{{column_names[5]}}</th>
                <td><progress id="progress-bar"  value="{{ data[loop.index-1][17]}}" max="100"></progress></td></tr>
                <tr><th>{{column_names[6]}}</th>
                <td><progress id="progress-bar"  value="{{ data[loop.index-1][18]}}" max="100"></progress></td>
                <th>{{column_names[8]}}</th>
                <td><progress id="progress-bar"  value="{{ data[loop.index-1][19]}}" max="100"></progress></td></tr>
                <tr><th>{{column_names[9]}}</th>
                <td><progress id="progress-bar"  value="{{ data[loop.index-1][20]}}" max="100"></progress></td>
                <th>{{column_names[10]}}</th>
                <td><progress id="progress-bar"  value="{{ data[loop.index-1][21]}}" max="100"></progress></td></tr>
                <tr><th>{{column_names[11]}}</th>
                <td><progress id="progress-bar"  value="{{ data[loop.index-1][22]}}" max="100"></progress></td>
                <th>{{column_names[12]}}</th>
                <td><progress id="progress-bar"  value="{{ data[loop.index-1][23]}}" max="100"></progress></td></tr>
                <tr><th>{{column_names[13]}}</th>
                <td><progress id="progress-bar"  value="{{ data[loop.index-1][24]}}" max="100"></progress></td>
            </tr>
          </thead>
    </table>
<!--                Change to dynamic url? Or change to website when we deploy-->
                <a href="http://127.0.0.1:5000/{{ data[loop.index-1][25] }}">Go to location page</a>
<!--                <a href="url_for('location_page', variable={{ data[loop.index-1][25] }})">Go to location page</a>-->
</div>
        </div>
      </div>
</div>
{% endfor %}
{% endblock %}