<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    {% block metadata %}{% endblock %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }} ">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" alt="cofee icon"/>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-199199636-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-199199636-1');
    </script>
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->
</head>
<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="top-left">
                                    <div class="logo">
                        <a href="{{ url_for('home') }}">
                        <img src="{{ url_for('static', filename='img/werkplekwijzermini.svg') }}" alt="website logo"/>
                    </a>
                    </div>
                <div class="navbar-link active-nav-link">
                    <a href="{{ url_for('home') }}">Home</a>
                </div>
                <div class="navbar-link">
                    <a href="{{ url_for('den_haag_filter') }}">Den Haag</a>
                </div>
                <div class="navbar-link">
                    <a href="{{ url_for('rotterdam_filter') }}">Rotterdam</a>
                </div>
                <div class="navbar-link">
                    <a href="{{ url_for('plek_toevoegen') }}">Plek toevoegen</a>
                </div>
                <div class="navbar-link">
                    <a href="{{ url_for('about') }}">Over Werkplekwijzer</a>
                </div>
            </div>
            <div class="top-right">
                <div class="navbar-brand">
                </div>
            </div>
        </div>
        <div class="content-wrapper">
             <div class="dropdown">
                  <button onclick="myFunction()" class="dropbtn">Kies een stad</button>
                      <div id="myDropdown" class="dropdown-content">
                        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                        <a href="{{ url_for('home') }}">Alle locaties</a>
                        <a href="{{ url_for('den_haag_filter') }}">Den Haag</a>
                        <a href="{{ url_for('delft_filter') }}">Delft</a>
                        <a href="{{ url_for('rotterdam_filter') }}">Rotterdam</a>
                          <a href="{{ url_for('amsterdam_filter') }}">Amsterdam</a>
                      </div>
            </div>
            <div class="cards-items-wrapper">
                        {% block contents %}{% endblock %}
<!--                cards-items-wrapper is closed in home.html -->
            </div>
                    <div id="overlay"></div>
        </div>
    </div>

</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<footer>
    <aside class="footer-left">
<h3><b> Contact: </b></h3>
<h4>&#127760;: Werkplekwijzer.nl<br>
&#9993;:  &nbsp; werkplekwijzer@gmail.com</h4>
<h4><a href="https://www.facebook.com/Werkplekwijzer/" style="color: inherit;"target="_blank">FaceBook</a>
<br><a href="https://www.instagram.com/werkplekwijzer/" style="color: inherit;"target="_blank">Instagram</a>
<br><a href="https://www.twitter.com/werkplekwijzer/" style="color: inherit;"target="_blank">Twitter</a></h4>

    </aside>

    <aside class="footer-right">
<h3><b> Blijf op de hoogte!</b></h3>
<h4>Meld je aan voor de nieuwsbrief en blijf op de hoogte van de nieuwste en beste werkplekken in Nederland.</h4>
<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7_dtp.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup">
<form action="https://werkplekwijzer.us20.list-manage.com/subscribe/post?u=11f3545dabcb92db551f751fb&amp;id=c2e8ec6973" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Uw e-mailadres" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_11f3545dabcb92db551f751fb_c2e8ec6973" tabindex="-1" value=""></div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" value="Aanmelden" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
        </div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
    </aside>

    <aside class="footer-center">
<h3> <b>Quick Links: </b></h3>
<h4><a href="https://www.werkplekwijzer.nl/" style="color: inherit;"target="_blank">Home</a>
<br><a href="https://www.werkplekwijzer.nl/den_haag" style="color: inherit;"target="_blank">Den Haag</a>
<br><a href="https://www.werkplekwijzer.nl/rotterdam" style="color: inherit;"target="_blank">Rotterdam</a>
<br><a href="https://www.werkplekwijzer.nl/amsterdam" style="color: inherit;"target="_blank">Amsterdam</a>
<br><a href="https://www.werkplekwijzer.nl/delft" style="color: inherit;"target="_blank">Delft</a>
<br><a href="https://www.werkplekwijzer.nl/plek_toevoegen" style="color: inherit;"target="_blank">Plek toevoegen</a>
<br><a href="https://www.werkplekwijzer.nl/about" style="color: inherit;"target="_blank">Over Werkplekwijzer.nl</a>
<br><a href="https://www.werkplekwijzer.nl/sitemap.xml" style="color: inherit;"target="_blank">Sitemap</a></h4>
    </aside>
</footer>
</html>