<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Studyplaces</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }} ">
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->
</head>
<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="top-left">
                                    <div class="logo">
                        <a href="{{ url_for('home') }}">
                        <img src="{{ url_for('static', filename='img/werkplekwijzermini.svg') }}" />
                    </a>
                    </div>
                <div class="navbar-link active-nav-link">
                    <a href="{{ url_for('home') }}">Home</a>
                </div>
                <div class="navbar-link">
                    <a href="{{ url_for('about') }}">About</a>
                </div>
            </div>
            <div class="top-right">
                <div class="navbar-brand">
                </div>
            </div>
        </div>
<style>
.row {
  width: 1000px;
}

.column {
  text-align: left;
  width: 100%;
}
.openingstijden {
  text-align: left;
  width: 80%;
</style>
<div class="page-title">
<h1>{{ data[0][0] }}</h1>
</div>
&nbsp;
<div class="row">
    <div class="column">
        <table>
              <thead>
                <tr>
                    <th>{{column_names[2]}}</th>
                    <td><progress id="progress-bar"  value="{{ data[0][14] }}" max="100"></progress></td>
                    <th>{{column_names[3]}}</th>
                    <td><progress id="progress-bar"  value="{{ data[0][15] }}" max="100"></progress></td></tr>
                    <tr><th>{{column_names[4]}}</th>
                    <td><progress id="progress-bar"  value="{{ data[0][16] }}" max="100"></progress></td>
                    <th>{{column_names[5]}}</th>
                    <td><progress id="progress-bar"  value="{{ data[0][17] }}" max="100"></progress></td></tr>
                    <tr><th>{{column_names[6]}}</th>
                    <td><progress id="progress-bar"  value="{{ data[0][18] }}" max="100"></progress></td>
                    <th>{{column_names[8]}}</th>
                    <td><progress id="progress-bar"  value="{{ data[0][19] }}" max="100"></progress></td></tr>
                    <tr><th>{{column_names[9]}}</th>
                    <td><progress id="progress-bar"  value="{{ data[0][20] }}" max="100"></progress></td>
                    <th>{{column_names[10]}}</th>
                    <td><progress id="progress-bar"  value="{{ data[0][21] }}" max="100"></progress></td></tr>
                    <tr><th>{{column_names[11]}}</th>
                    <td><progress id="progress-bar"  value="{{ data[0][22] }}" max="100"></progress></td>
                    <th>{{column_names[12]}}</th>
                    <td><progress id="progress-bar"  value="{{ data[0][23] }}" max="100"></progress></td></tr>
                    <tr><th>{{column_names[13]}}</th>
                    <td><progress id="progress-bar"  value="{{ data[0][24] }}" max="100"></progress></td>
                </tr>
              </thead>
            </table>
    </div>
&nbsp;
    <div class="openingstijden">
            <table>
                <tr><th>{{column_names[26]}}</th><td>{{ data[0][26] }}</td></tr>
                <tr><th>{{column_names[27]}}</th><td>{{ data[0][27] }}</td></tr>
                <tr><th>{{column_names[28]}}</th><td>{{ data[0][28] }}</td></tr>
                <tr><th>{{column_names[29]}}</th><td>{{ data[0][29] }}</td></tr>
                <tr><th>{{column_names[30]}}</th><td>{{ data[0][30] }}</td></tr>
                <tr><th>{{column_names[31]}}</th><td>{{ data[0][31] }}</td></tr>
                <tr><th>{{column_names[32]}}</th><td>{{ data[0][32] }}</td></tr>
                <div class="google_maps">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2451.896877531952!2d4.3224824153329315!3d52.08160707973356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b717a1837237%3A0x365485c37a7a8ef2!2sStationsHuiskamer!5e0!3m2!1snl!2snl!4v1620849357559!5m2!1snl!2snl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
            </table>
    </div>
</div>
        </body>
        </html>