{% extends 'home_base.html' %}

{% block contents %}
<table>
          <thead>
            <tr>
                <th>{{column_names[2]}}</th>
                <th>{{column_names[3]}}</th>
                <th>{{column_names[4]}}</th>
                <th>{{column_names[5]}}</th>
                <th>{{column_names[6]}}</th>
                <th>{{column_names[8]}}</th>
                <th>{{column_names[9]}}</th>
                <th>{{column_names[10]}}</th>
                <th>{{column_names[11]}}</th>
                <th>{{column_names[12]}}</th>
                <th>{{column_names[13]}}</th>
            </tr>
          </thead>
            <tbody>
                    <tr>
                        <td>{{ data[0][2] }} {{ data[0][14] }}%</td>
                        <td>{{ data[0][3] }} {{ data[0][15] }}%</td>
                        <td>{{ data[0][4] }} {{ data[0][16] }}%</td>
                        <td>{{ data[0][5] }} {{ data[0][17] }}%</td>
                        <td>{{ data[0][6] }} {{ data[0][18] }}%</td>
                        <td>{{ data[0][8] }} {{ data[0][19] }}%</td>
                        <td>{{ data[0][9] }} {{ data[0][20] }}%</td>
                        <td>{{ data[0][10] }} {{ data[0][21] }}%</td>
                        <td>{{ data[0][11] }} {{ data[0][22] }}%</td>
                        <td>{{ data[0][12] }} {{ data[0][23] }}%</td>
                        <td>{{ data[0][13] }} {{ data[0][24] }}%</td>
                    </tr>
            </tbody>
    </table>

<div class="opening_hours">
    <table>
<tr><th>Sunday</th><td>Closed</td></tr>
<tr><th>Monday</th><td>9am - 5pm</td></tr>
<tr><th>Tuesday</th><td>9am - 5pm</td></tr>
<tr><th>Wednesday</th><td>9am - 5pm</td></tr>
<tr><th>Thursday</th><td>9am - 5pm</td></tr>
</table>
</div>
{% endblock %}