<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Studyplaces</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }} ">
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->
</head>
<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="top-left">
                                    <div class="logo">
                        <a href="{{ url_for('home') }}">
                        <img src="{{ url_for('static', filename='img/werkplekwijzermini.svg') }}" />
                    </a>
                    </div>
                <div class="navbar-link active-nav-link">
                    <a href="{{ url_for('home') }}">Home</a>
                </div>
                <div class="navbar-link">
                    <a href="{{ url_for('about') }}">About</a>
                </div>
            </div>
            <div class="top-right">
                <div class="navbar-brand">
                </div>
            </div>
        </div>
<div class="page-title">
<h1>{{ data[0][0] }}</h1>
</div>
&nbsp;
<div class="row">
    <div class="column">
        <table>
              <thead>
                <tr>
                    <th>{{column_names[2]}}</th>
                    <td><progress id="progress-bar"  value="{{ data[0][14] }}" max="100"></progress></td>
                    <th>{{column_names[3]}}</th>
                    <td><progress id="progress-bar"  value="{{ data[0][15] }}" max="100"></progress></td></tr>
                    <tr><th>{{column_names[4]}}</th>
                    <td><progress id="progress-bar"  value="{{ data[0][16] }}" max="100"></progress></td>
                    <th>{{column_names[5]}}</th>
                    <td><progress id="progress-bar"  value="{{ data[0][17] }}" max="100"></progress></td></tr>
                    <tr><th>{{column_names[6]}}</th>
                    <td><progress id="progress-bar"  value="{{ data[0][18] }}" max="100"></progress></td>
                    <th>{{column_names[8]}}</th>
                    <td><progress id="progress-bar"  value="{{ data[0][19] }}" max="100"></progress></td></tr>
                    <tr><th>{{column_names[9]}}</th>
                    <td><progress id="progress-bar"  value="{{ data[0][20] }}" max="100"></progress></td>
                    <th>{{column_names[10]}}</th>
                    <td><progress id="progress-bar"  value="{{ data[0][21] }}" max="100"></progress></td></tr>
                    <tr><th>{{column_names[11]}}</th>
                    <td><progress id="progress-bar"  value="{{ data[0][22] }}" max="100"></progress></td>
                    <th>{{column_names[12]}}</th>
                    <td><progress id="progress-bar"  value="{{ data[0][23] }}" max="100"></progress></td></tr>
                    <tr><th>{{column_names[13]}}</th>
                    <td><progress id="progress-bar"  value="{{ data[0][24] }}" max="100"></progress></td>
                </tr>
              </thead>
            </table>
    </div>
&nbsp;
    <div class="location_data">
        <div class="location_description">
                <b>Totale beoordeling {{ data[0][0] }}:</b>
                <br></br>
                <li>{{ data[0][33] }}</li>
                <li>{{ data[0][34] }}</li>
                <li>{{ data[0][35] }}</li>
                <li>{{ data[0][36] }}</li>
                <li><b>Totale score: {{ data[0][14] }}%</b></li></div>
            <div class="openingstijden">
            <table>
                <tr><th><b>Openingstijden:</b></td></tr>
                <tr><th>{{column_names[26]}}</th><td>{{ data[0][26] }}</td></tr>
                <tr><th>{{column_names[27]}}</th><td>{{ data[0][27] }}</td></tr>
                <tr><th>{{column_names[28]}}</th><td>{{ data[0][28] }}</td></tr>
                <tr><th>{{column_names[29]}}</th><td>{{ data[0][29] }}</td></tr>
                <tr><th>{{column_names[30]}}</th><td>{{ data[0][30] }}</td></tr>
                <tr><th>{{column_names[31]}}</th><td>{{ data[0][31] }}</td></tr>
                <tr><th>{{column_names[32]}}</th><td>{{ data[0][32] }}</td></tr>
            </table></div>
                <div class="google_maps">
<iframe src="{{ data[0][37] }}" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
</div>
</div>
        </body>
        </html>